.box {
    background-color: purple;
    padding: 1%;
   border: 10% black;
   position: absolute;
   top: 4%;
   right: 2%;
}
.box1 {
    background-color: yellow;
    padding: 1%;
    border: 1%;
    position: fixed;
}